<!-- Primero que obtenga el servicio, luego validaciones -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Iniciar Sesión</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme Bootstrap-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script src="../resources/js/angular.min.js"></script>
<script src="../resources/js/app.js"></script>
</head>
<body ng-app="app">
	<div class="container" style="padding: 25px;">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<div class="panel panel-default" style="text-align: center;">
					<div class="panel-heading"><strong>Iniciar Sesión</strong></div>
					<div class="panel-body" >
						<form name="login" ng-controller="loginCtrl">
								<div class="form-group">
									<input type="text" required class="form-control"
										placeholder="Identificación" ng-model="id">
								</div>
								<div class="form-group">
									<input type="password" required class="form-control"
										placeholder="Contraseña" ng-model="password">
								</div>
								<div class="form-group">
									<img alt="n3ur0" src="../resources/captcha.jpg"
										class="img-thumbnail">
								</div>
								<div class="form-group">
									<input type="text" required class="form-control"
										placeholder="Ingrese el codigo captcha" ng-model="captcha">
								</div>
								<button type="submit" ng-click="autenticar()"
									class="btn btn-default">Iniciar Sesión</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>